<section class="contact">
  <h2 class="section-title">Contact</h2>

  <div class="contact-container">

    <!-- Email -->
    <div class="contact-item">
      <h3>Email</h3>
      <a href="mailto:himanshumaurya447756@gmail.com">
        himanshumaurya447756@gmail.com
      </a>
    </div>

    <!-- GeeksforGeeks -->
    <div class="contact-item">
      <h3>GeeksforGeeks</h3>
      <a href="https://www.geeksforgeeks.org/profile/himanshu_kushwaha" target="_blank">
        View Profile →
      </a>
    </div>

    <div class="contact-item">
      <h3>Docker</h3>
      <a href="https://hub.docker.com/u/himanshukushwaha69" target="_blank">
        View Profile →
      </a>
    </div>

    <div class="contact-item">
      <h3>GitHub</h3>
      <a href="https://github.com/HimanshuKushwahadev27" target="_blank">
        View GitHub →
      </a>
    </div>

  </div>
</section>